<h1>Options</h1>
<div class="container">
    <label for="bugs-color1">Change bugs' color #1:</label>
    <select id="bugs-color1" name="bugs-color1">
        <option value="black">Black</option>
        <option value="red">Red</option>
    </select>

    <label for="bugs-color2">Change bugs' color #2:</label>
    <select id="bugs-color2" name="bugs-color2">
        <option value="red">Red</option>
        <option value="black">Black</option>
    </select>

    <label for="iterations">Number of iterations:</label>
    <input type="text" id="iterations" name="iterations" value="500">

    <label for="tick-duration">The duration of a tick in seconds:</label>
    <input type="text" id="tick-duration" name="tick-duration" value="10">

    <button type="submit" onclick="gamePage()">Save Changes</button>
</div>
